h2 {
    font-size: 35px;
    margin: 50px auto;
    font-weight: lighter;
    color: #8B7969;
    text-align: center;
}

.confirm {
    width: 80%;
    max-width: 972px;
    margin: 50px auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 20px;
}

th,
td {
    border: 1px solid #e5e5e5;
}

th {
    width: 30%;
    background-color: #BAA899;
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 20px 20px 20px 60px;
}

td {
    background-color: #fff;
    color: #8B7969;
    text-align: left;
    padding: 20px 45px;
}

.button-submit,
.button-reset {
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.button-submit {
    background-color: #8B7969;
    color: #fff;
    border: none;
}

.button-reset {
    border: 1px solid #fff;
    background-color: #fff;
    color: #8B7969;
    text-decoration: underline;
}