.header-link {
    position: absolute;
    right: 100px;
    color: #D9C6B5;
    border: solid 1px #D9C6B5;
    text-decoration: none;
    background-color: rgba(240, 240, 240, 0.6);
    width: 100px;
    height: 34px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 背景色 */
body {
    background-color: #F1ECE7;
}

/* ページタイトル */
.page-title {
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    margin: 60px 0;
}

/* フォーム枠 */
.form-box {
    background: #fff;
    max-width: 736px;
    margin: 0 auto 75px;
    padding: 75px 145px 60px;
    border: 1px solid #C5B9B0;
    border-radius: 7px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    /* bodyのフォントが継承されていたため、ゴシック調に再指定 */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin-bottom: 14px;
    font-size: 25px;
}

.form-box__input__inner {
    width: 100%;
    display: block;
    margin-bottom: 45px;
}

.form-box input {
    /* inputタグはbodyのフォントが継承されないので再指定 */
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: regular;
    width: 100%;
    box-sizing: border-box;
    background-color: #F4F4F4;
    font-size: 14px;
    padding: 20px 25px;
    border: 1px solid #F4F4F4;
    font-weight: lighter;
}

.form-box input::placeholder {
    color: #BEB1A6;
}

.form-box button {
    align-self: center;
    width: auto;
    margin-top: 50px;
}

/* ボタン */
.btn {
    background-color: #8c7569;
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}